<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access 1 day"
</IfModule>

ErrorDocument 404 /404.html

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE] 
