@font-face {
	font-family: Ubuntu;
	src: url(./font/Ubuntu-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Ubuntu Condensed";
	src: url(./font/UbuntuCondensed-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Ubuntu Mono";
	src: url(./font/UbuntuMono-Regular.ttf) format("truetype");
}

::selection {
	background-color: #ddd;
	color: #000;
}

body {
	padding: 0;
	margin: 3rem;
	background-color: #000;
	color: #ddd;
	font-family: "Ubuntu Mono", sans-serif;
	font-size: 1.2em;
}

/* better defaults */

h1 {
	font-family: "Ubuntu Condensed", sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	display: flex;
}

p, h1 {
	margin: 1rem 0;
}

a {
	color: #ddd;
	font-weight: bold;
	text-decoration: underline;
}

/* decoration */

h1::after {
	content: "";
	flex: 1;
	margin-left: 0.5em;
	background-repeat: round;
	background-size: stretch;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2.5em" height="2.5em" stroke="white" stroke-width=".1" viewBox="0 0 4 2"><line x1="0" y1="0" x2="2" y2="2"></line><line x1="2" y1="2" x2="4" y2="0"></line></svg>');
}

/* content */

.content {
	width: 40ch;
	min-width: 40ch;
	word-wrap: normal;
	text-align: justify;
}

.content img {
	width: 100%;
}

/* repsonsive */

@media (orientation: portrait) {
	.content {
		width: 100%;
		min-width: 0;
	}
}

@media (pointer: none) and (orientation: landscape), (pointer: coarse) and (orientation: landscape) {
	.content {
		width: 50%
	}

	.content img {
		max-width: 40ch;
	}
}
