@font-face {
	font-family: Ubuntu;
	src: url(./font/Ubuntu-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Ubuntu Condensed";
	src: url(./font/UbuntuCondensed-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Ubuntu Mono";
	src: url(./font/UbuntuMono-Regular.ttf) format("truetype");
}

::selection {
	background-color: #ddd;
	color: #000;
}

body {
	padding: 0;
	margin: 3rem;
	background-color: #000;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="64" fill="white" viewBox="0 0 64 64"><rect x="63" y="63" width="1" height="1"></rect></svg>');
	color: #ddd;
	font-family: "Ubuntu Mono", sans-serif;
	font-size: 1.2rem;
}

/* better defaults */

h1 {
	font-family: "Ubuntu Condensed", sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	display: flex;
}

p, h1 {
	margin: 1rem 0;
}

a {
	color: #ddd;
	font-style: italic;
	text-decoration: underline;
}

/* tables */

table {
	background: black;
	border-collapse: collapse;
	font-family: Ubuntu, sans-serif;
	font-size: 1rem;
}

table th {
	padding: .5em;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	font-family: "Ubuntu Condensed", sans-serif;
	font-size: 1.2rem;
	font-weight: normal;
	text-transform: uppercase;
}

table td {
	padding: .5em;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	text-align: center;
}

table th:last-child, table td:last-child {
	border-right: none;
}

table tr:last-child td {
	border-bottom: none;
}

/* decoration */

h1::after {
	content: "";
	flex: 1;
	margin-left: 0.5em;
	background-repeat: round;
	background-size: contain;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="2em" stroke="white" stroke-width="1" viewBox="0 0 32 16"><line x1="0" y1="0" x2="16" y2="16"></line><line x1="16" y1="16" x2="32" y2="0"></line></svg>');
}

a.external {
	text-decoration: none;
}

a.external::after {
	content: "";
	display: inline-block;
	margin-left: 0.25em;
	width: .5em;
	height: .5em;
	background-repeat: no-repeat;
	background-position: bottom;
	background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="white"><path d="M640 768H128V257.90599999999995L256 256V128H0v768h768V576H640V768zM384 128l128 128L320 448l128 128 192-192 128 128V128H384z"/></svg>');
}

ul {
	list-style: none;
}

ul li::before {
	content: "- ";
}

ul li.divider {
	margin-top: 1em;
}

ul li.divider::before {
	content: "";
}

/* content */

.content {
	background: black;
	margin: 3rem 0;
	width: 40ch;
	min-width: 40ch;
	word-wrap: normal;
	text-align: justify;
}

.content img {
	width: 100%;
}

.content img.link {
	width: 2em;
	display: inline-block;
}

/* repsonsive */

@media (orientation: portrait) {
	.content {
		width: 100%;
		min-width: 0;
	}
}

@media (pointer: none) and (orientation: landscape), (pointer: coarse) and (orientation: landscape) {
	.content {
		width: 50%
	}

	.content img {
		max-width: 40ch;
	}
}
