@font-face {
	font-family: Ubuntu;
	src: url(./font/Ubuntu-Regular.ttf) format("truetype");
}

@font-face {
	font-family: Ubuntu;
	src: url(./font/Ubuntu-Italic.ttf) format("truetype");
	font-style: italic;
}

@font-face {
	font-family: "Ubuntu Condensed";
	src: url(./font/UbuntuCondensed-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Ubuntu Mono";
	src: url(./font/UbuntuMono-Regular.ttf) format("truetype");
}

html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	background: #161621;
	color: #ddd;
	font-family: Ubuntu, sans-serif;
	font-size: 1em;
	overflow-x: hidden;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}

a {
	color: #ddd !important;
	font-style: italic;
}

.main a {
	font-family: "Ubuntu Mono", monospace;
	font-size: 0.75em;
}

.books a,
.vids a,
.footer a {
	font-style: normal;
	text-decoration: none;
}

/* util */

.clickable {
	cursor: pointer !important;
}

@keyframes slide-in-left {
	from {
		left: -47.5vw;
	}
}

@keyframes slide-in-right {
	from {
		right: -27.5vw;
	}
}

@keyframes slide-in-top {
	0%, 50% {
		top: -15vh;
		opacity: 0;
	}
}

@keyframes slide-in-bottom {
	0%, 50% {
		bottom: -15vh;
		opacity: 0;
	}
}

@keyframes bob {
	from {
		top: -1em;
	}

	to {
		top: 1em;
	}
}

/* dividers */

.written::before,
.footer::before {
	content: "";
	width: 100%;
	height: 5em;
	display: block;
	position: absolute;
}

.written .content {
	margin-top: 8em !important;
}

.main + .written::before {
	background: linear-gradient(#212126, #161621);
}

.section + .footer::before {
	background: linear-gradient(#161621, #212126);
	top: -2.5em;
}

.written::after,
.vids::after {
	content: "";
	width: 80%;
	max-width: 1000px;
	height: 1px;
	display: block;
	background: rgba(255, 255, 255, 0.2);
}

/* decor */

.block-container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.block-container.left {
	animation: bob 2.25s infinite alternate ease-in-out;
}

.block-container.right {
	animation: bob 1.75s infinite alternate-reverse ease-in-out;
}

.block {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="5em" height="5em" viewBox="0 0 20 20" stroke="white" stroke-width="5"><polyline points="2,2 18,18"></polyline><polyline points="2,18 18,2"></polyline></svg>') space;
	position: absolute;
	opacity: 0.2;
}

.block.left {
	width: 45vw;
	height: 80vh;
	top: 10vh;
	left: -2.5em;
	animation: slide-in-left 2s;
}

.block.right {
	width: 30vw;
	height: 40vh;
	top: 30vh;
	right: -2.5em;
	animation: slide-in-right 2s;
}

/* main info + arrow */

.popup-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
}

.section.main .popup-container.bottom {
	animation: bob 1s infinite alternate ease-in-out;
}

.section.main .popup {
	width: 100%;
	position: absolute;
	z-index: 99;
	font-size: 1.5em;
	text-align: center;
}

.section.main .popup.top {
	top: 15vh;
	animation: slide-in-top 4s;
}

.section.main .popup.bottom {
	width: 1em;
	height: 1em;
	border: 0.25em solid transparent;
	border-bottom: 0.25em solid #ddd;
	border-right: 0.25em solid #ddd;
	bottom: 15vh;
	cursor: not-allowed;
	animation: slide-in-bottom 4s;
	transform: rotate(45deg);
}

.section.main .popup.bottom:hover::before {
	opacity: 1;
}

/* stories */

.books {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.book {
	width: 15em;
	margin: 2em;
	background: #212126;
	border-radius: 1em;
	overflow: hidden;
}

.book h1 {
	padding: 1em;
	background: #262631;
	text-align: center;
}

.book p {
	margin: 1em;
}

.book[rating]::after {
	content: "Rated " attr(rating);
	padding: 0.5em;
	margin-top: 1em;
	display: block;
	text-align: center;
}

/* stories */

.videos {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.video {
	width: 20em;
	margin: 2em;
	background: #212126;
	border-radius: 1em;
	overflow: hidden;
}

.video .thumbnail {
	width: 100%;
}

.video h1 {
	margin: 0.5em;
}

.video p {
	margin: 1em;
}

.video .note {
	margin: 1.1em;
}

.video[rating]::after {
	content: "Rated " attr(rating);
	padding: 0.5em;
	margin-top: 1em;
	display: block;
	text-align: center;
}

/* music */

.songs {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.song {
	margin: 2em;
	background: #212126;
	border-radius: 1em;
	overflow: hidden;
	display: flex;
	flex: 1;
}

.song .cover {
	width: 12.5em;
	height: 12.5em;
}

.song h1 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.song .info {
	margin: 3em;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex: 1;
}

.song .info .link {
	margin-top: 1em;
	display: flex;
	align-items: center;
}

.song .info .link .button {
	width: 2.5em;
	height: 2.5em;
	margin-left: 0.65em;
	margin-right: 1em;
	background: #262631;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.song .info .link .button::after {
	content: "";
	width: 0.5em;
	height: 0.5em;
	border: 0.15em solid transparent;
	border-bottom: 0.15em solid #ddd;
	border-right: 0.15em solid #ddd;
	display: block;
	position: relative;
	left: -0.20em;
	transform: rotate(-45deg);
}

.song .info .link .text {
	font-size: 1.25em;
}

.song[rating]::after {
	content: "Rated " attr(rating);

	padding: 0.5em;
	display: block;
	text-align: center;
	writing-mode: vertical-rl;
	text-orientation: mixed;
}

/* ratings */

[rating="Mature"]::after {
	background: #e74c3c;
}

[rating="PG"]::after {
	background: #262631;
}

/* sections */

.section {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.section.main {
	height: 100vh;
	background: #212126;
	overflow: hidden;
	font-family: "Ubuntu Condensed", sans-serif;
}

.section.main .text {
	width: 100%;
	max-width: 1000px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	z-index: 9;
	font-size: 3em;
}

.section.main .text :last-child {
	position: relative;
	top: -0.3em;
}

.section .content {
	width: 100%;
	max-width: 1000px;
	margin: 4em 8em;
}

.section .content > p:not(.note) {
	text-indent: 2.5em;
}

.section .content .note {
	color: #aaa;
	font-size: 0.9em;
}

.section .content > h1,
.section .content > h2,
.section .content > h3,
.section .content > h4,
.section .content > h5,
.section .content > h6 {
	width: 100%;
	text-align: center;
	opacity: 0.9;
}

.section .content > h1 span,
.section .content > h2 span,
.section .content > h3 span,
.section .content > h4 span,
.section .content > h5 span,
.section .content > h6 span {
	padding: 0.2em 0.3em;
	margin-bottom: 0.2em;
	color: white;
}

/* footer */

.footer {
	padding: 4em 6em 1.5em;
	background: #212126;
	display: flex;
	justify-content: center;
	position: relative;
}

.footer-wrapper {
	width: 100%;
	max-width: calc(1000px - 12em);
	display: flex;
	align-items: center;
}

.footer .half.left {
	flex: 1;
}

.footer .copyright {
	font-family: "Ubuntu Condensed", sans-serif;
	font-size: 1.5em;
}

.footer .half.right {
	padding-left: 1em;
	text-align: right;
}

.footer .category {
	padding: 0.2em 0.3em 0.2em 1em;
	margin-bottom: 0.2em;
	color: #aaa;
	font-size: 0.9em;
	border-bottom: 1px solid #aaa;
}

/* responsive */

@media (orientation: portrait) {
	body {
		font-size: 0.9em;
	}

	/* music */

	.songs {
		align-items: center;
	}

	.song {
		width: 17.5em;
		flex-direction: column;
	}

	.song .cover {
		width: 17.5em;
		height: 17.5em;
	}

	.song h1 {
		text-align: center;
		white-space: normal;
		overflow: unset;
	}

	.song .info {
		margin: 1.5em;
	}

	.song .info .link .text {
		font-size: 1.25em;
	}

	.song[rating]::after {
		writing-mode: unset;
	}

	/* sections */

	.section.main .text {
		width: 70%;
		text-align: center;
	}

	.section.main .text h1 {
		line-height: 1em;
	}

	/* footer */

	.footer-wrapper {
		flex-direction: column;
	}

	.footer .half.right {
		padding-left: 0;
		margin: 1em;
	}

	.footer .half.right:last-child {
		margin-bottom: 0;
	}
}

@media (pointer: none) and (orientation: landscape), (pointer: coarse) and (orientation: landscape) {
	.song h1 {
		max-width: 270px;
	}
}
