@font-face {
	font-family: Ubuntu;
	src: url(./font/Ubuntu-Regular.ttf) format("truetype");
}

@font-face {
	font-family: Ubuntu;
	src: url(./font/Ubuntu-Italic.ttf) format("truetype");
	font-style: italic;
}

@font-face {
	font-family: "Ubuntu Condensed";
	src: url(./font/UbuntuCondensed-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Ubuntu Mono";
	src: url(./font/UbuntuMono-Regular.ttf) format("truetype");
}

html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	background: #161621;
	color: #ddd;
	font-family: Ubuntu, sans-serif;
	font-size: 1em;
	overflow-x: hidden;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}

a {
	color: #ddd !important;
	font-style: italic;
}

.footer a,
.main a {
	font-style: normal;
	text-decoration: none;
}

table {
	width: 75%;
	margin: 3em auto;
	border-collapse: collapse;
}

table th {
	font-weight: normal;
}

table td {
	text-align: center;
}

table.projects td:nth-child(2), table.projects td:nth-child(3) {
	font-family: "Ubuntu Mono", monospace;
}

table th, td {
	padding: 0.5em;
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
	border-right: 2px solid rgba(255, 255, 255, 0.2);
}

table th:last-child, td:last-child {
	border-right: none;
}

table tr:last-child td {
	border-bottom: none;
}

@media (max-width: 750px) {
	table {
		width: 100%;
	}
}

/* util */

.clickable {
	cursor: pointer !important;
}

@keyframes slide-in-left {
	from {
		left: -47.5vw;
	}
}

@keyframes slide-in-right {
	from {
		right: -27.5vw;
	}
}

@keyframes slide-in-top {
	0%, 50% {
		top: -15vh;
		opacity: 0;
	}
}

@keyframes slide-in-bottom {
	0%, 50% {
		bottom: -15vh;
		opacity: 0;
	}
}

@keyframes bob {
	from {
		top: -1em;
	}

	to {
		top: 1em;
	}
}

/* dividers */

.about::before,
.experience::before,
.projects::before,
.footer::before {
	content: "";
	width: 100%;
	height: 2em;
	display: block;
	position: absolute;
	-webkit-clip-path: polygon(0 0, 100% 100%, 100% 0);
	        clip-path: polygon(0 0, 100% 100%, 100% 0);
}

.main + .about::before {
	background: #9c27b0;
}

.about + .experience::before {
	background: #009688;
}

.experience + .projects::before {
	background: #c0392b;
}

.section + .footer::before {
	background: #34495e;
	top: 0;
	-webkit-clip-path: polygon(100% 0, 0 0, 0 95%);
	        clip-path: polygon(100% 0, 0 0, 0 95%);
}

@media (min-width: 1500px) {
	.main + .about::before,
	.about + .experience::before,
	.experience + .projects::before,
	.section + .footer::before {
		height: 3em;
	}
}

/* decor */

.block-container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.block-container.left {
	animation: bob 2.25s infinite alternate ease-in-out;
}

.block-container.right {
	animation: bob 1.75s infinite alternate-reverse ease-in-out;
}

.block {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2.5em" height="2.5em" viewBox="0 0 20 20" fill="white"><circle cx="10" cy="10" r="10"></circle></svg>') space;
	position: absolute;
	opacity: 0.2;
}

.block.left {
	width: 47.5vw;
	height: 35vh;
	left: -1.25em;
	top: 15vh;
	animation: slide-in-left 2s;
}

.block.right {
	width: 27.5vw;
	height: 27vh;
	right: -1.25em;
	bottom: 15vh;
	animation: slide-in-right 2s;
}

/* main info + arrow */

.popup-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
}

.section.main .popup-container.bottom {
	animation: bob 1s infinite alternate ease-in-out;
}

.section.main .popup {
	width: 100%;
	position: absolute;
	z-index: 99;
	font-size: 1.5em;
	text-align: center;
}

.section.main .popup.top {
	top: 15vh;
	animation: slide-in-top 4s;
}

.section.main .popup.bottom {
	width: 1em;
	height: 1em;
	border: 0.25em solid transparent;
	border-bottom: 0.25em solid #ddd;
	border-right: 0.25em solid #ddd;
	bottom: 15vh;
	cursor: not-allowed;
	animation: slide-in-bottom 4s;
	transform: rotate(45deg);
}

.section.main .popup.bottom:hover::before {
	opacity: 1;
}

/* about */

.bio {
	margin: 3em 0;
	display: flex;
}

.bio .avatar {
	width: 17.5em;
	height: 17.5em;
	display: flex;
}

.bio .avatar .left {
	background: url(./img/llama.jpg) left / cover;
	border-top-left-radius: 17.5em;
	border-bottom-left-radius: 17.5em;
	flex: 1;
}

.bio .avatar .right {
	background: url(./img/zvava.jpg) right / cover;
	border-top-right-radius: 17.5em;
	border-bottom-right-radius: 17.5em;
	flex: 1;
}

.bio .divider {
	width: 1px;
	margin: 1em 2em;
	background: rgba(255, 255, 255, 0.35);
}

.bio .list-container {
	display: flex;
	flex: 1;
	font-size: 0.9em;
}

.bio .list {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 1.25em;
}

.bio .list.left {
	flex: 1;
	text-align: right;
}

.bio .list.right {
	margin-left: 1em;
	flex: 0.5;
	font-family: "Ubuntu Condensed", sans-serif;
}

.technologies {
	width: 100%;
	margin: 1em 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.technologies div {
	position: relative;
}

.technologies svg {
	width: 3em;
	height: 3em;
	padding: 0 0.5em;
	transition: opacity 0.2s;
}

.technologies:hover svg {
	opacity: 0.5;
}

.technologies:hover div:hover svg {
	opacity: 1;
}

.technologies div::before {
	content: attr(title);
	width: 6em;
	padding: 0.5em;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 0.5em;
	display: block;
	position: absolute;
	top: 7em;
	left: -1.5em;
	z-index: 999;
	text-align: center;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s, top 0.3s;
}

.technologies div:hover::before {
	top: 3.5em;
	opacity: 1;
}

/* sections */

.section {
	display: flex;
	justify-content: center;
	position: relative;
}

.section.about {
	background: #009688;
}

.section.experience {
	background: #c0392b;
}

.section.projects {
	background: #34495e;
}

.section.main {
	height: 100vh;
	background: #9c27b0;
	overflow: hidden;
	font-family: "Ubuntu Condensed", sans-serif;
}

.section.main .text {
	width: 100%;
	max-width: 1000px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	z-index: 9;
	font-size: 3em;
}

.section.main .text > :last-child {
	position: relative;
	top: -0.3em;
}

.section .content {
	width: 100%;
	max-width: 1000px;
	margin: 8em;
}

.section .content p:not(.note) {
	text-indent: 2.5em;
}

.section .content .note {
	color: #aaa;
	font-size: 0.9em;
}

.section .content h1,
.section .content h2,
.section .content h3,
.section .content h4,
.section .content h5,
.section .content h6 {
	width: 100%;
	text-align: center;
	opacity: 0.9;
}

.section .content h1 span,
.section .content h2 span,
.section .content h3 span,
.section .content h4 span,
.section .content h5 span,
.section .content h6 span {
	padding: 0.2em 0.3em;
	margin-bottom: 0.2em;
	color: white;
}

/* footer */

.footer {
	padding: 4em 6em 3em;
	background: #2c3e50;
	display: flex;
	justify-content: center;
	position: relative;
}

.footer-wrapper {
	width: 100%;
	max-width: calc(1000px - 12em);
	display: flex;
	align-items: center;
}

.footer .half.left {
	flex: 1;
}

.footer .copyright {
	font-family: "Ubuntu Condensed", sans-serif;
	font-size: 1.5em;
}

.footer .half.right {
	padding-left: 1em;
	text-align: right;
}

.footer .category {
	padding: 0.2em 0.3em 0.2em 1em;
	margin-bottom: 0.2em;
	color: #aaa;
	font-size: 0.9em;
	border-bottom: 1px solid #aaa;
}

/* responsive */

@media (orientation: portrait) {
	body {
		font-size: 0.9em;
	}

	/* dividers */

	.main + .about::before,
	.about + .experience::before,
	.experience + .projects::before,
	.section + .footer::before {
		height: 1em;
	}

	/* about */
	
	.bio {
		align-items: center;
		flex-direction: column;
	}
	
	.bio .avatar {
		width: 15em;
		height: 15em;
	}
	
	.bio .avatar .left {
		border-top-left-radius: 15em;
		border-bottom-left-radius: 15em;
	}
	
	.bio .avatar .right {
		border-top-right-radius: 15em;
		border-bottom-right-radius: 15em;
	}
	
	.bio .divider {
		width: 60%;
		height: 1px;
		margin: 2em 0;
	}

	.bio .list-container {
		width: 100%;
	}

	.bio .list.right {
		flex: 0.5;
	}

	.technologies {
		width: 75%;
		margin: 1em auto;
	}

	/* sections */

	.section .content {
		margin: 8em 1em;
	}

	/* footer */

	.footer-wrapper {
		flex-direction: column;
	}

	.footer .half.right {
		padding-left: 0;
		margin: 1em;
	}

	.footer .half.right:last-child {
		margin-bottom: 0;
	}
}

@media (orientation: portrait) and (min-width: 650px) {
	/* about */

	.bio .list.right {
		flex: 0.75;
	}
}
