@font-face {
	font-family: Ubuntu;
	src: url(./font/Ubuntu-Regular.ttf) format("truetype");
}

@font-face {
	font-family: Ubuntu;
	src: url(./font/Ubuntu-Italic.ttf) format("truetype");
	font-style: italic;
}

@font-face {
	font-family: "Ubuntu Condensed";
	src: url(./font/UbuntuCondensed-Regular.ttf) format("truetype");
}

html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	background: #161621;
	color: #ddd;
	font-family: Ubuntu, sans-serif;
	font-size: 1em;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}

a {
	color: #ddd !important;
	font-style: italic;
}

/* sections */

.wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

/* special pages */

.page.cover {
	justify-content: center;
}

.page.cover h1 {
	margin: 0 1em;
	font-family: "Ubuntu Condensed", sans-serif;
	font-size: 5em;
}

.page.index .item {
	width: 100%;
	margin-bottom: 0.5em;
	position: relative;
	font-size: 1.25em;
}

.page.index .item::after {
	content: "page " attr(page);
	display: block;
	position: absolute;
	color: #aaa;
	top: 0;
	right: 0;
}

/* pages */

.page {
	width: calc(35vw - 8em);
	min-width: calc(508px - 8em);
	min-height: calc(90vh - 12em);
	padding: 6em 4em;
	margin: 5vh 0;
	background: #212126;
	border-radius: 1em;
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.page h1 {
	margin: 0 1em;
	margin-bottom: 1em;
	text-align: center;
}

.page p {
	font-size: 1.25em;
	line-height: 1.25em;
	text-align: justify;
}

.page::before {
	content: attr(page);
	display: block;
	position: absolute;
	color: #aaa;
	bottom: 2em;
	left: 2em;
}

.page:nth-child(odd)::before {
	left: unset;
	right: 2em;
}

/* footer */

.teaser {
	width: calc(35vw - 8em);
	min-width: calc(508px - 8em);
	padding: 2em 4em;
	margin: 5vh 0;
	background: #212126;
	border-radius: 1em;
}

.teaser h1 {
	width: 100%;
	text-align: center;
}

/* responsive*/

@media (orientation: portrait) {
	body {
		font-size: 0.9em;
	}

	/* pages + teaser */
	
	.page, .teaser {
		width: calc(100vw - 10em);
		min-width: unset;
		max-width: calc(508px - 8em);
		padding: 4em;
	}
	
	.page {
		min-height: calc(90vh - 8em);
	}

	.page h1 {
		margin: 0 1em;
		margin-bottom: 0.5em;
	}

	.page p {
		font-size: 1.15em;
		line-height: 1.15em;
	}
}
