::selection {
	background-color: #dddddd !important;
	color: #000000 !important;
}

body {
	max-width: 80ch;
	padding: 0 1rem;
	margin: 3rem auto 20vh;
	background: #000000;
	color: #dddddd;
	font-family: Ubuntu Mono, monospace;
	text-align: justify;
	line-height: 1.5rem;
}

img {
	max-width: 60ch;
}

p, pre {
	font-size: 1.1rem;
}

h1, h2, h3, p, img, pre {
	margin: 1rem 0;
}

a {
	text-decoration: none;
	color: #c27ed5;
	line-height: 1.7rem;
}

a::before {
	content: "=> ";
}
