::selection {
	background-color: #dddddd !important;
	color: #000000 !important;
}

body {
	max-width: 80ch;
	padding: 0 1rem;
	margin: 3rem auto 20vh;
	background-color: #000000;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="64" fill="white" viewBox="0 0 64 64"><rect x="63" y="63" width="1" height="1"></rect></svg>');
	color: #dddddd;
	font-family: Ubuntu Mono, monospace;
	line-height: 1.5rem;
	font-size: 1.1rem;
	transform: unset;
}

h1, h2, h3 {
	line-height: 1.25em; }

h1, h2, h3, p {
	margin: 1rem 0;
	background: rgba(0, 0, 0, .5); }

blockquote {
	margin: 0 0 0 4ch; }

img {
	max-width: 60ch;
	image-rendering: pixelated; }

img[alt="image"] {
	image-rendering: unset; }

img[alt="header"] {
	max-width: 100%;
	width: 100%; }

.lazy-mode img { pointer-events: none }

pre {
	margin: -.5rem 0; }

pre, blockquote {
	color: #bbbbbb;
	background: rgba(0, 0, 0, .5); }

a {
	text-decoration: none;
	color: #c27ed5;
	background: rgba(0, 0, 0, .5);
	line-height: 1.7rem;
	font-family: Ubuntu Mono, monospace;
	white-space: pre;
}

.lazy-mode a {
	cursor: none;
	pointer-events: none;
	transition: color .1s, text-shadow .3s; }

a::before {
	content: "\21D2  "; }

a:focus, a:hover, a.focus  {
	font-weight: bold; }

a.focus {
	color: #eebfff; }

@media (orientation: portrait) {
	html {
		font-size: .9rem; }

	blockquote {
		margin-left: 2ch; }

	img {
		max-width: 100%; }
}

/* lazy mode */

.lazy-mode {
	margin: 20vh auto 40vh;
	user-select: none;
	cursor: none;
	overflow-x: hidden;
}

.lazy-mode::before, .lazy-mode::after {
	content: "";
	width: 100vw;
	height: 5vh;
	display: block;
	position: fixed;
	left: 0;
	cursor: none;
	pointer-events: none;
}

.lazy-mode::before {
	background: linear-gradient(rgba(0, 0, 0, .75), transparent);
	top: 0;
}

.lazy-mode::after {
	background: linear-gradient(transparent, rgba(0, 0, 0, .75));
	bottom: 0;
}

.cursor {
	width: 18px;
	height: 18px;
	background: #dddddd;
	border-radius: 50%;
	position: fixed;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
	cursor: none;
	pointer-events: none;
	z-index: 9;
}

.focus {
	text-shadow: 0 0 .25rem rgba(255, 255, 255, 0.1);
}
