::selection {
	background-color: #dddddd !important;
	color: #000000 !important;
}

body {
	max-width: 80ch;
	padding: 0 1rem;
	margin: 3rem auto 20vh;
	background-color: #000000;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="64" fill="white" viewBox="0 0 64 64"><rect x="63" y="63" width="1" height="1"></rect></svg>');
	color: #dddddd;
	font-family: Ubuntu Mono, monospace;
	text-align: justify;
	line-height: 1.5rem;
	font-size: 1.1rem;
}

h1, h2, h3, p {
	margin: 1rem 0;
	background: #000000;
}

blockquote {
	margin: 0 0 0 4ch;
}

img {
	max-width: 60ch;
}

pre {
	margin: -.5rem 0;
}

pre, blockquote {
	color: #bbbbbb;
	background: #000000;
}

a {
	text-decoration: none;
	color: #c27ed5;
	background: #000000;
	line-height: 1.7rem;
	font-family: Ubuntu Mono, monospace;
}

a::before {
	content: "=> ";
}

@media (orientation: portrait) {
	body {
		text-align: left;
	}

	html {
		font-size: .9rem;
	}

	img {
		max-width: 100%;
	}
}
